# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Drizzle / libSQL
DATABASE_URL=file:./local.db
TURSO_AUTH_TOKEN=
NEXT_PUBLIC_APP_URL=http://localhost:3000

# OAuth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Email (choose one)
SMTP_TRANSPORT=smtp
SMTP_HOST=127.0.0.1
SMTP_PORT=2500
SMTP_USER=formbase
SMTP_PASS=formbase
RESEND_API_KEY=

# Formbase
ALLOW_SIGNIN_SIGNUP=true

# Minio
MINIO_ENDPOINT=localhost
MINIO_PORT=90
MINIO_USESSL=false
MINIO_ACCESSKEY=A2J2
MINIO_SECRETKEY=S2J2
MINIO_BUCKET=bucketname
