# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# Get the Database URL from the "prisma" dropdown selector in PlanetScale. 
# Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}"
DATABASE_URL='postgresql://formbase:password@127.0.0.1:5432/formbase'
SMTP_HOST=127.0.0.1
SMTP_PORT=2500
SMTP_USER="formbase"
SMTP_PASSWORD="formbase"
NEXT_PUBLIC_APP_URL='http://localhost:3000'

# The callback URL for githubs Oauth is localhost:3000/login/github/callback
# Obviously replace localhost and port of you are using this in a production environment.
AUTH_GITHUB_ID="github_client_id"
AUTH_GITHUB_SECRET="github_client_secret"

# Formbase
ALLOW_SIGNIN_SIGNUP=true

# Stripe
# Stripe Secret Key found at https://dashboard.stripe.com/test/apikeys
STRIPE_API_KEY='sk_test_'
# Stripe Webhook Secret found at https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local
# This need to replaced with the webhook secret for your webhook endpoint in production
STRIPE_WEBHOOK_SECRET='whsec_'
# Stripe Product and Price IDs for your created products 
# found at https://dashboard.stripe.com/test/products
STRIPE_PRO_MONTHLY_PLAN_ID='price_'

# Minio
MINIO_ENDPOINT='localhost'
MINIO_PORT=90
MINIO_USESSL=false
MINIO_ACCESSKEY='A2J2'
MINIO_SECRETKEY='S2J2'
MINIO_BUCKET='bucketname'
