---
import ProseLayout from '../layouts/ProseLayout.astro';
---

<ProseLayout>
  <h1>Introduction</h1>
  <p>
    Formbase makes it easy to handle your HTML form submissions. Simplify your
    work with easy form management, automatic notifications, secure file
    uploads, and smooth integrations. Create a form and start accepting
    submissions right away.
  </p>

  <h3>Features</h3>
  <ul>
    <li>
      <h4>Effortless Form Handling</h4>
      <p>
        Create a form and start accepting submissions instantly without any
        configuration.
      </p>
    </li>

    <li>
      <h4>Email Notifications</h4>
      <p>
        Get real-time notifications every time your form receives a new entry.
      </p>
    </li>

    <li>
      <h4>Team Collaboration (Coming Soon)</h4>
      <p>
        Build and manage a team to work together seamlessly on form projects.
      </p>
    </li>
  </ul>

  <p class="mt-24 border-t border-gray-900">
    <p>
      This documentation site is adapted from the <a
        href="https://selfhosthq.com"
        target="_blank">SelfhostHQ</a
      > by <a href="https://x.com/ImSh4yy" target="_blank">Shayan</a>.
    </p>
  </p>
</ProseLayout>
